@import "tailwindcss";

:root {
  --primaryColor: #FBFBFB;
  --secondaryColor: #445264;
  --terdiaryColor: #F3F3F3;
  --primaryTextColor: #666B72;
  --secondaryTextColor: #FFFFFF;
  --inProgressPrimaryColor: #EDEDED;
  --inProgressSecondaryColor: #DDDDDD;
  --btnBgPrimaryColor: #E6E6E6;
  --gradientPrimaryColor: linear-gradient(104.04deg, #445264 0%, #344255 50%, #445264 100%);
  --overlayColor: rgba(0, 0, 0, 0.4);
}

body {
  background: var(--primaryColor);
  color: var(--primaryTextColor);
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1102px;
  margin: 0 auto;
}

.active {
  background-color: var(--secondaryColor);
  color: var(--secondaryTextColor);
  font-weight: bolder;
}

button, a {
  cursor: pointer
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 999px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar {
    overflow: overlay; 
    scrollbar-width: thin;
    scrollbar-color: var(--secondaryColor) transparent;
    padding-right: 8px;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--secondaryColor) transparent;
  }
}